table.GeneratedTable {
  width: 20px;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #152666;
  border-style: inset;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #152666;
  border-style: inset;
  padding: 3px;
  box-shadow: 3px 3px rgb(150, 136, 11);
}

table.GeneratedTable thead {
  background-color: #109437;
}



table.GeneratedTable thead {
    background-color: #109437;
  }
 
  
  /*line-height: 170%;*/
    

body{
  width: 700px;
  margin: auto;
}



  .navbar {
    list-style-type: lower-alpha;
    margin: 0;
    padding: 0;
    overflow:visible;
    background-color: rgb(148, 202, 0);
}

.va li {
    float: inline-start;
}
.navbar li a {
    display: grid;
    color: #0e7ee7;
    text-align: center ;
    padding: 6px 5px;
    text-decoration-style: inherit;
width: 700px;
margin: auto;
   }
.navbar li a:hover{
    background-color: rgb(221, 161, 142);
    text-decoration-style: dashed;
      color: rgb(6, 20, 4);







}
body {
    color: rgb(17, 4, 4);
   width: 900px;
   margin: auto;
   background-color: #8adbca5b;
  }    


  .soccer {

    list-style: none;
    
    padding-left: 0;
    
    }
    
    .soccer {
    
    position: relative;
    
    padding-left: 30px;
    
    line-height: 170%;
    
    }
    
    .soccer li:before {
    
    content: '';
    
    width: 20px;
    
    height: 20px;
    
    position: absolute;
    
    background-image: url('sweden.png');
    
    background-size: cover;
    
    background-position: center;
    
    left: 0;
    
    top: 50%;
    
    transform: translateY(-50%);
    
    }


    .offside {

      list-style: none;
      
      padding-left: 0;
      
      }
      
      .offside{
      
      position: relative;
      
      padding-left: 30px;
      
      line-height: 170%;
      
      }
      
      .offside li:before {
      
      content: '';
      
      width: 20px;
      
      height: 20px;
      
      position: absolute;
      
      background-image: url('bosnia-and-herzegovina.png');
      
      background-size: cover;
      
      background-position: center;
      
      left: 0;
      
      top: 50%;
      
      transform: translateY(-50%);
      
      }
  
  
      .kyckling {

        list-style: none;
        
        padding-left: 0;
        
        }
        
        .kyckling {
        
        position: relative;
        
        padding-left: 30px;
        
        line-height: 170%;
        
        }
        
        .kyckling li:before {
        
        content: '';
        
        width: 20px;
        
        height: 20px;
        
        position: absolute;
        
        background-image: url('united-kingdom.png');
        
        background-size: cover;
        
        background-position: center;
        
        left: 0;
        
        top: 50%;
        
        transform: translateY(-50%);
        
        }
    
    

        .ordered {

          line-height: 110%;
        }
        .alsmd {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        .haha {
          width: 700px;
          margin: auto;

     }
    
@media screen and (max-width: 600px) {
  div.example {div-content
    display: none;
  }
}

